/*body { background: #69a9c6 url('/images/featured-content/SN-002-Flash-Feature.png') top repeat-x !important;*/
/*color: #000 !important; }*/

/*#div_headerContent #div_userLinks { background: #69A9C6 !important; border: none !important; }*/
/*#ul_userLinks li { background-color: #aad0e3 !important; }*/

#div_content a { color: #000 !important; }

#techSupport { font-size: 12px; padding: .25em; margin-bottom: 1em; text-align: center;
    border-radius: 4px; border-top: 1px solid #254251; border-left: 1px solid #254251; width: auto; }
#techSupport strong { color: #000; text-shadow: 1px 1px 0 #F0ECD7; margin-right: .5em; }

#watchLiveLink { padding:2px 0px 4px; display:block; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center; }

/* This is a filty hack and it has taken four months off my life */
#chatFrame { margin-bottom: -560px; }

table { float: left; margin: 0 !important; width: 190px; }
th, td { padding: 7px !important; text-align: left; }
table th { background: #E1D9B9; border-bottom: 1px solid #D6C9A5; border-right: 3px solid #69a9c6; }
table td { background: #fbfaee; }
table td:first-child { width: 4em; }
table td:last-child { border-right: 3px solid #69a9c6; }
table tr:nth-child(even) td { background: #ffffff; }
table tr:last-child th, table tr:last-child td { border-bottom: none; }
table tr.active td { background-color: #F09900 !important; color: #000 !important; }
table tr.active td:nth-child(2):before { content: "-> "; }

/*#div_footer { background-color: #6794ad !important; border-top-color: #254251 !important; }*/
/*#div_footer a { color: #000 !important; }*/