div.text { font-family:"Tahoma",sans-serif; font-size: 11px; color: #442D19; }

div.text h2 { font-family:"Tahoma",sans-serif; font-size: 1.25em; margin-bottom: 1.25em; color: #570705; border: none; }
div.text h3 { font-family:"Tahoma",sans-serif; font-size: 1em; margin-bottom: 1em; color: black; border: none; }
div.text ul { list-style-type: disc; margin: 0 0 0 1em; }
div.text li { margin-bottom: 1em; }